.show-me-sm { display: none !important; }
.page-title { float: left; outline: none; }
.page-title::hover { text-decoration: none; }

a {
  outline: none !important;
}

.no-pointer::hover { cursor: none; }
.active { border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
.activeS > button { background: rgba(0, 0, 0, 0.12); }

@media screen and (max-width: 600px) {
  .remove-me-sm { display: none !important; }
  .show-me-sm { display: block !important; }
  .page-title { float: none;}
  .fix-icon-center { margin-left: -13px !important; }
}